:root {
	--cmp-table-padding-top: 5px;
	--cmp-table-padding-bottom: 5px;
}



cmp-table {} 



	cmp-table table thead td {
		padding-top: var( --cmp-table-padding-top );
		padding-bottom: var( --cmp-table-padding-bottom );
	} 




	cmp-table table tbody td .key {
		color: #999;
	}




