cmp-spoyler-body-movie {

}
	cmp-spoyler-body-movie .wrap {
		margin: 10px 10px 30px 10px;
	}

		cmp-spoyler-body-movie .obj-cat {
			margin: 10px 0;
			
		}

	cmp-spoyler-body-movie .key {
		color: #999;
	}




	cmp-spoyler-body-movie .section-1 {
		margin: 0 0 10px 0;
		text-align: center;
	}
		cmp-spoyler-body-movie .section-1 .movie-title-en {
			font-size: 30px;
			font-weight: bold;
		}

		cmp-spoyler-body-movie .section-1 .movie-title-ua {
			color: #ff0;
		}

		cmp-spoyler-body-movie .section-1 .movie-year {
			font-weight: bold;
		}






	cmp-spoyler-body-movie .poster {
		margin: 0 0 10px 0;
	}
		cmp-spoyler-body-movie .poster img {
			border-radius: 10px;
		}

	cmp-spoyler-body-movie .internet {
		margin: 0 0 10px 0;

	}
		cmp-spoyler-body-movie .internet a img {
			height: 40px;
			width: 100px;
			border-radius: 5px;
		}

 	cmp-spoyler-body-movie .movie-country {
		margin: 0 0 10px 0;
	}
		cmp-spoyler-body-movie .movie-country .country {
			padding: 0px 15px 1px 15px;
			border: 1px solid #777;
			border-radius: 5px;
		}
			cmp-spoyler-body-movie .movie-country .country:hover {
				border-color: #fff;
			}

	cmp-spoyler-body-movie .movie-genres {
		margin: 0 0 20px 0;
	}
		cmp-spoyler-body-movie .movie-genres .genre {
			padding: 1px 15px 2px 15px;
			border-radius: 5px;
			font-style: oblique;
			background: var( --bg-t );
		}
			cmp-spoyler-body-movie .movie-genres .genre:hover {
				background: var( --bg-b );
			}

	cmp-spoyler-body-movie .movie-hashes {
		margin: 0 0 20px 0;
	}
		cmp-spoyler-body-movie .movie-hashes .hash {
			padding: 1px 15px 2px 15px;
			border: 1px solid #777;
			border-radius: 5px;
			font-style: oblique;
			color: #999;
		}
			cmp-spoyler-body-movie .movie-hashes .hash:hover {
				border-color: #fff;
				color: #fff;
			}














 	cmp-spoyler-body-movie .tkv-object .body-tkv {
		margin: 20px 0 0px 0;
	}










